body {
  font-family: "Helvetica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  padding: 10px 0;
  background-color: #4d4d4d;
  width: 100%;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (max-width: 600px) {
  .header-inner {
    gap: 20px;
  }
}
.header-social {
  display: flex;
  gap: 10px;
}
@media (max-width: 600px) {
  .header-social {
    flex-direction: column;
  }
}
.header-social a {
  max-width: 60px;
  width: 100%;
  display: block;
}
@media (max-width: 600px) {
  .header-social a {
    max-width: 36px;
  }
}
@media (max-width: 390px) {
  .header-social a {
    max-width: 25px;
  }
}
.header-social img {
  max-width: 100%;
}
@media (max-width: 600px) {
  .header-social img {
    max-width: 36px;
  }
}
@media (max-width: 390px) {
  .header-social img {
    max-width: 25px;
  }
}
.header-logo a {
  display: block;
  width: 100%;
  max-width: 120px;
}
@media (max-width: 600px) {
  .header-logo a {
    max-width: 85px;
  }
}
.header-logo a img {
  max-width: 100%;
}
.header-title {
  margin-left: 60px;
}
@media (max-width: 400px) {
  .header-title {
    font-size: 14px;
  }
}
@media (max-width: 319px) {
  .header-title {
    font-size: 12px;
  }
}

.gallery-inner::-webkit-scrollbar {
  width: 0;
}

.gallery-inner {
  padding-top: 110px;
  padding-bottom: 91px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 400px;
  gap: 3px;
  max-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
@media (max-width: 600px) {
  .gallery-inner {
    grid-auto-rows: 80px;
    padding-bottom: 105px;
  }
}
@media (max-width: 400px) {
  .gallery-inner {
    padding-top: 96px;
  }
}
@media (max-width: 390px) {
  .gallery-inner {
    padding-top: 81px;
    padding-bottom: 91px;
  }
}
.gallery-item {
  display: block;
  overflow: hidden;
}
.gallery-item img {
  max-width: 100%;
  min-height: 100%;
}
@media (max-width: 600px) {
  .gallery-item img {
    min-height: 80px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #4d4d4d;
}
.footer-social {
  display: flex;
  gap: 10px;
}
@media (max-width: 600px) {
  .footer-social {
    flex-direction: column;
  }
}
.footer-social a {
  max-width: 60px;
  width: 100%;
  display: block;
}
@media (max-width: 600px) {
  .footer-social a {
    max-width: 36px;
  }
}
@media (max-width: 390px) {
  .footer-social a {
    max-width: 25px;
  }
}
.footer-social img {
  max-width: 100%;
}
@media (max-width: 600px) {
  .footer-social img {
    max-width: 36px;
  }
}
@media (max-width: 390px) {
  .footer-social img {
    max-width: 25px;
  }
}/*# sourceMappingURL=style.css.map */